{% extends '::layout.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Project</th>
            <th>Current Version</th>
            <th>Latest Version</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr{% if project.outdated %} class="info"{% endif %}>
            <td>
                <a href="{{ path('project_timeline', { 'project': project.code }) }}">{{ project.code }}</a>
            </td>
            <td>
                {% if project.currentVersion %}
                    <dl>
                        <dt>{{ project.currentVersion }}</dt>
                        {# FIXME Jenkins URL. #}
                        <dd><a href="#">Jenkins</a></dd>
                    </dl>
                {% endif %}
            </td>
            <td>
                <dl>
                    <dt>{{ project.latestVersion }}</dt>
                    {# FIXME Jenkins URL. #}
                    <dd><a href="#">Jenkins</a></dd>
                </dl>
            </td>
            <td>
                <form
                        action="{{ path('project_sync', { 'project': project.code }) }}"
                        style="margin-bottom: 0px; margin-right: 10px;"
                        class="pull-left"
                        method="post">
                    <input type="submit" value="Sync!" class="btn btn-danger">
                </form>
                {% if project.outdated %}
                    <form
                        action="{{ path('project_deploy', { 'project': project.code }) }}"
                        style="margin-bottom: 0px;"
                        class="pull-left"
                        method="post">
                        <input
                                name="deploy[version]"
                                type="hidden"
                                value="{{ project.latestVersion }}">
                        <input type="submit" value="Deploy latest!" class="btn btn-danger">
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
